<%= form_for @challenge, :html => { :class => 'form-horizontal' } do |f| %>

  <div>
    <p>Which voting event you care about?</p>
  </div>

  <div class="form-group">
    <%= f.label 'Event', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%# TODO: get this list from the events table %>
      <%= select_tag :event, options_for_select([['2016 Presidential Primary', 'Primary']]), :class => 'text_field form-control' %>
    </div>
  </div>

  <div>
    <p>Who do you want to challenge to vote?</p>
  </div>

  <div class="form-group">
    <%= f.label 'Challengee', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%# TODO: consider including their Facebook friends in a list %>
      <%= text_field_tag 'challengee', "My Friends", :class => 'text_field form-control' %>
    </div>
  </div>

  <div>
    <p>How will you feel if they don't vote?</p>
  </div>

  <div class="form-group">
    <%= f.label 'Emotion', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%# TODO: show a few sad emotions in a list, but allow custom %>
      <%= text_field_tag 'emotion', "Sad", :class => 'text_field form-control' %>
    </div>
  </div>

  <div>
    <p>What stakes will incentive your friends to vote?</p>
  </div>

  <div class="form-group">
    <%= f.label 'Stakes', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%# TODO: show common options in a list, but allow custom %>
      <%= text_field_tag 'stakes', "$20", :class => 'text_field form-control' %>
    </div>
  </div>

  <div>
    <p>Which meme would you like to use?</p>
  </div>

  <div class="form-group">
    <%= f.label 'Name', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= select_tag 'meme_name', options_for_select(@templates), :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  challenges_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
